/* --------------  Generic  --------------  */
body{
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	color: #3F4952;
}


/* logo image and text used in the header and footer*/
.logo-section{
	font-size: 1.777rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #F1F2F4;
}

.logo-section .fa-car{
	color: #F3D563;
}

.logo-section h3{
	padding-right: 0 1rem;
}


/*   --------------  Header  --------------  */

#header-row{
	background-color: #3F4952;
	padding: 0 3%;
	display: flex;
	justify-content: space-between;
}

nav{
	display: flex;
	color: #F1F2F4;
}

nav ul{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul li{
	padding: 0px 15px;
}


#header-content{
	background-image: url("../images/headerKeys.png");
	background-size: cover;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#header-content-text{
	width: 100%;
    max-width: 1200px;
    margin: 0px auto;
	flex-direction: column;
}

#header-content-text h1{
	font-size: 3.157rem;
	color: #3F4952;
    max-width: 600px;
}

#header-btn{
	text-decoration: none;
    color: #FFF;
    font-size: 1.333rem;
    background-color: #34C07B;
    height: 65px;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center
}



/*   --------------   Main  --------------  */

/*   -------------- ------- --------------  */

/*   ------  Search Bar  --------------  */

#select-area{
	height: 90px;
	max-width: 1200px; 
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-select {
    /*background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;*/	border: 1px solid #ccc;
	height: 45px;
	font-size: 1rem;
    padding-left: 1rem;
	border: 1px solid #ccc;
	border-radius: 0;
    margin-right: 1rem;
    flex-grow: 1;
}

label{
	position:relative; /*for adding the font-awesome pseudoclass*/

}

label:after {
    content:"\f078";   
    font-family: "FontAwesome";
    font-size: 1rem;
    color:#aaa;
    right:8px; top:4px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}

#car-search-btn{
	text-decoration: none;
    color: #FFF;
    background-color: #EF7E64;
    padding: 0px 15px;
    height: 45px;
    display: flex;
    align-items: center;
}


/*   ------  Car Rows  --------------  */

.car-row-a, .car-row-b{
	background-color: #F1F2F4;
	padding: 3% 0;
}

.car-row-b{
	background-color: #FFF;
}

.car-row-contain{
	max-width: 1200px; 
    margin: 0px auto;
    display: flex;
	justify-content: space-between;
	align-items: center;
}

.car-row-b .car-row-contain{
	flex-direction: row-reverse;
}

.car-row-contain section{
	width: 48%;
}

.view-car-btn{
	text-decoration: none;
    color: #FFF;
    background-color: #55C4E5;
    height: 45px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-row-imgs{
	display: flex;
	justify-content: space-between;
}

.car-row-imgs img{
	width: 48%;
	height: 100%;
}




/*   --------------   Footer   --------------   */
footer{
	background-color: #3F4952;
	height: 150px;
	padding: 0 3%;
	display: flex;
	justify-content: space-between;
}

footer section{
	display: flex;
    align-items: center;
}

#footer-list{
	list-style: none;
	display: flex;
	justify-content: space-between;
}

#footer-list li{
	padding: 0px 15px;
	color: #F1F2F4;
}

#footer-list li a{
	text-decoration: none;
	color: #F1F2F4;
}
