
/* --- Style sheet for css transitions and pseudoclasses ---*/


/* -------------- HEADER -----------------*/



#search-input:hover{
	-webkit-transition: height .2s, background .2s;
    transition: height 1s, background .5s;
/*	background: url("../images/icon-headers/searchYellow.png") no-repeat 95% center;
*/	height: 1.1rem;

}

#search-input{
	-webkit-transition: width .5s ease-in-out, height .5s, background-color .5s;
    transition: width .5s ease-in-out, height .5s, background-color .5s;

}

#search-input:focus{
	-webkit-transition: width .5s ease-in-out, height .5s, background-color .5s;
    transition: width .5s ease-in-out, height .5s, background-color .5s;
	background: url("../images/icon-headers/searchGrey.png") no-repeat 95% center;
	background-size: 1rem;
	height: 1.333rem;
	width: 7rem;
	background-color: #fff;
}

#header-btn:hover{
	background-color: #3AD286;
}

nav ul li a:hover{
	-webkit-transition: font-size .5s, color .5s;
    transition: font-size .5s, color .5s;
	font-size: 0.85rem;
    color: #f3d563;
}


/* -------------- MAIN -----------------*/

#car-search-btn:hover{
	background-color: #FB947A;
}


.view-car-btn:hover{
	background-color: #63D4F4;
}


.car-select:focus, .car-select:hover {
	border-color: #3F4952;
}


	/* -------- CAR IMAGES ----------*/
.img-overlay-contain:hover .overlay {
	opacity: .85;
}

.overlay{
	transition: .5s ease;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.overlay p:hover{
	-webkit-transition: color .25s;
    transition: color .5s;
    color: #f3d563;
}


